<?xml version="1.0"?>
<configuration>
	<location path="NewOrder.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager, Agents"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="OrderDetail.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager, Agents"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="OrderDone.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager, Agents"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="DeleteOrderLine.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="PreperationSummary.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager, roasters"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="SendCoffeeCheckup.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="SentRemindersSheet.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ReoccuringOrders.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ReoccuringOrderDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Lookups.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Repairs.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager, Agents, repair"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="RepairDetail.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager, Agents, repair"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="RepairStatusChange.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator, AgentManager, Agents, repair"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
