<?xml version="1.0"?>
<configuration>
	<location path="NewOrder.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager, Agents"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="OrderDetail.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager, Agents"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="OrderDone.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager, Agents"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="DeleteOrderLine.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="PreperationSummary.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager, Roasters"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="SendCoffeeCheckup.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="SentRemindersSheet.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="RecurringOrders.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="RecurringOrderDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Lookups.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Repairs.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager, Agents, Repair"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="RepairDetail.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager, Agents, Repair"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="RepairStatusChange.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators, Agent Manager, Agents, Repair"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
