<?xml version="1.0"?>
<configuration>

  <location path="SystemTools.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
      </authorization>
    </system.web>
  </location>

  <location path="DatabaseBackup.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
      </authorization>
    </system.web>
  </location>

  <!-- Anonymous OK: diagnose SQL when membership login cannot reach the DB. -->
  <location path="SqlConnectionTest.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
